.footer-section {
  padding: 12.5rem 0 4.43rem;

  &__logo { margin-bottom: 62px; }

  &__list {
    @include flex (auto, space-between, auto);
    padding-bottom: 16rem;

    &__contact-details {
      flex-basis: 34.1%;
      padding-right: 16.67%;

      &__list {
        @include flex (column, auto, auto);
        padding-bottom: 62px;

        & li {
          padding-bottom: 7px;
          color: $info-text-color;
          font-size: 1.2rem;
        }
      }

      &__social{
        @include flex (auto, space-between, auto);

        &__icon a{
          width: 55px;
          height: 55px;
          border: 1px solid $info-text-color;
          border-radius: 50%;
          text-indent: -999999px;
          @include flex (auto, center, center);

          &.facebook::after {
            @include social-icon ("\f39e")
          }

          &.twitter::after {
            @include social-icon ("\f099")
          }

          &.google::after {
            @include social-icon ("\f0d5")
          }

          &.instagram::after {
            @include social-icon ("\f16d")
          }
        }
      }
    } 

    &__services {
      flex-basis: 17.31%;
      margin-right: 8.2%;
      &__title {
        @include footer-title;
        padding-bottom: 74px;
      }

      &__list {
        @include flex (column, auto, auto);
        &__item {
          padding-bottom: 38px;
          color: $info-text-color;
          font-size: 1.1rem;
          font-weight: 500;
        }
      }
    }

    &__useful-links {
      flex-basis: 16.86%;
      margin-right: 8%;
      &__title {
        @include footer-title;
        padding-bottom: 74px;
      }

      &__list {
        @include flex (column, auto, auto);
        &__item {
          @extend .footer-section__list__services__list__item;
          text-transform: capitalize;
        }
      }
    }

    &__subscribe {
      flex-basis: 31.65%;
      &__title {
        @include footer-title;
        padding-bottom: 54px;
      }

      &__form {
        padding: 5px;
        border: 1px solid $info-text-color;
        border-radius: 5px;
        margin-bottom: 34px;
        @include flex (auto, space-between, auto);
      
        &__input {
          padding: 19px 18px;
          border: none;
          font-size: 1.3rem;
          font-family: inherit;
          outline: none;
        }

        &__btn {
          padding: 20px 30px;
          @include btn (20px, 30px, 20px, 30px, $dark-blue);
          font-size: 1.2rem;
        }
      }

      &__info {
        color: $info-text-color;
        font-size: 1.2rem;
        line-height: 1.6;
      }

    }
  }

  &__copyright {
    color: $info-text-color;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;

    &--blue { color: $dark-blue; }
  }
}