.step-section {
  padding: 13.75rem 0 16.37rem;
  background-color: #f5fbff;
  text-align: center;

  &__title {
    @include section-title;
    padding-bottom: 25px;
  }

  &__info {
    @include section-info;
  }

  &__list {
    @include flex (auto, space-between, auto);
    margin-top: 8.62rem;
    text-align: left;

    &__item {
      flex-basis: 26.3%;
      &__number {
        padding: 35px 40px;
        border-radius: 50%;
        display: inline-block;
        background-color: $primary-color;
        color: $dark-blue;
        font-size: 1.4rem;
        font-weight: 500; 
      }

      &__title {
        padding: 30px 0 22px;
        font-size: 2.2rem;
      }

      &__info {
        color: $info-text-color;
        font-size: 1.3rem;
        line-height: 1.6;
      }
    }
    
  }
}